body{
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #212121;
  font-family: 'Oswald', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
li{
  list-style-type: none;
}
/* NAVBAR NAVBAR NAVBAR NAVBAR  */
header{
  position: fixed;
  background-image: linear-gradient(black, gray);
  z-index: 2;
}
nav{
  background: transparent;
  width: 100vw;
  top: 0;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#logo{
  font-size: 1.6rem;
  margin-right: 200px;
}
#logo span{
  color: #26befc;
}
/* Landing Landing Landing Landing  */
#landing{
  height: 100vh;
  /* max-width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#l-content{
  z-index: 1;
}
#l-content h1 span{
  color: #26befc;
}
.slideshow {
  /* width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0; */
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
  color: pink;
}

.slideshow li:nth-child(1) {
  background-image: url(http://i.imgur.com/K3mPv14.jpg)
}
.slideshow li:nth-child(2) {
  background-image: url(http://i.imgur.com/SBEmFpv.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
/* PHONEUS PHONEUS PHONEUS PHONEUS  */
#phoneUs{
  height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
}
/* ABOUT ABOUT ABOUT ABOUT  */
#about{
  height: 100vh;
}
/* CARDS CARDS CARDS CARDS  */
#cards{
  height: 80vh;
  background-color: grey;
}
