body{
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #212121;
  font-family: 'Oswald', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
li{
  list-style-type: none;
}
.buttons{
  color: white;
  letter-spacing: 1px;
  background-image: linear-gradient(#ff8f33, #ff7200); padding: 10px 20px;
  border-radius: 20px;
}
/* NAVBAR NAVBAR NAVBAR NAVBAR  */
header{
  position: fixed;
  background: linear-gradient(to bottom, rgba(21, 25, 37, 0.91) 0%, rgba(21, 25, 37, 0.85) 10%, rgba(21, 25, 37, 0.74) 23%, rgba(21, 25, 37, 0.16) 78%, rgba(21, 25, 37, 0.09) 86%, rgba(21, 25, 37, 0) 100%);
  z-index: 2;
}
nav{
  width: 100vw;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav ul li a {
  letter-spacing: 1px;
}
#logo{
  font-size: 1.9rem;
  margin-right: 40%;
}
#logo span{
  color: #26befc;
}
/* Landing Landing Landing Landing  */
#landing{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#l-content{
  z-index: 1;
  text-align: center;
}
#l-content h1{
  font-size: 3rem;
  letter-spacing: 3px;
  color: #e6e6e6;
  margin: 0;
}
#l-content h1 span{
  color: #26befc;
}
#l-content h2 {
  color: #bfbfbf;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 40s linear infinite;
}
.slideshow li:nth-child(1) {
  background-image: url(images/landing1.jpg);
}
.slideshow li:nth-child(2) {
  background-image: url(images/landing2.jpg);
  filter: grayscale(1);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(images/landing3.jpg);
  filter: grayscale(1);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(images/landing4.jpg);
  filter: grayscale(1);
  animation-delay: 30s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
/* PHONEUS PHONEUS PHONEUS PHONEUS  */
#phoneUs{
  color: black;
  height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
#phoneUs a{
  color: black;
  font-size: 1.5rem;
  text-decoration: underline;
  margin-left: 10px;
}
/* ABOUT ABOUT ABOUT ABOUT  */
#about{
  min-height: 120vh;
  line-height: 30px;
  background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8) ), url(images/about2.jpg);
  /* filter: grayscale(1); */
  background-size: cover;
  background-position: center;
}
#a-wrapper{
  width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
#a-content h1{
  font-size: 3rem;
  padding-top: 200px;
  margin-bottom: 50px;
}
#a-content h1 span {
  color: #26befc;
}
#a-content p{
  color: #f2f2f2;
  margin-right: 80px;
  margin-bottom: 50px;
}
#a-content ul{
  padding: 0;
}
#a-content ul li{
  margin-bottom: 30px;
  letter-spacing: 1px;
}
#numbers{
  color: #26befc;
  border: 2px solid #26befc;
  padding: 7px 13px;
  margin-right: 20px;
  border-radius: 50%;
}
#divide{
  background-color: grey;
  height: 1px;
  width: 100%;
  margin-bottom: 40px;
}
#form-wrapper{
  width: 400px;
  margin: 230px auto;
}
#form-wrapper h2{
  font-size: 1.8rem;
  line-height: 35px;
}
#form-wrapper h2 span{
  color: #26befc;
}
#form-content{
  color: #26befc;
  background-color: black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
}
#one-day-contact label{
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  padding: 8px 15px;
}
#one-day-contact input{
  color: #26befc;
  background-color: black;
  border: none;
  border-bottom: 1px solid gray;
  border-top-right-radius: 10px;
  padding-left: 10px;
}
#one-day-contact label:nth-child(2){
  border-bottom: 1px solid green;
  color: green;
}
#last-input{
  border-bottom: none;
  color: pink;
}
#one-day-contact button{
  color: white;
  background-color: black;
  letter-spacing: 1px;
  margin-top: 15px;
  padding: 10px 20px;
  border: 2px solid #26befc;
  border-radius: 20px;
  cursor: pointer;
}
#form-wrapper p{
  color: #999999;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
/* CARDS CARDS CARDS CARDS  */
#cards{
  height: 80vh;
  background-color: grey;
}
